/*Se restablecen valores predeterminados de los margenes y rellenos de los elementos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom property que define colores de la pagina y tipos de fuente */
:root {
  --Primary_color: #84CC16;
  --Secondary_color: #A3E635;
  --Tertiary_color: #ECFDF5;
  --Room_color: #164E1B;
  --fountain_primary: "Henny Penny", system-ui;
  --fountain: "Alata", sans-serif;
}

/* Header de la pagina que contiene menu, titulo y logo de la pagina */
header {
  height: 110px;
  background-color: var(--Primary_color);
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

/* Clase que le da estilos a la imagen perfil del usuario en la pagina */
.header__perfil {
  width: 40px;
  /* position: absolute; */
  /* left: 50px; */
  /* margin-top: 30px; */
  /* background-color: red; */
}

/* Clase que le da estilos al titulo principal de la pagina */
.header__titulo {
  font-family: var(--fountain_primary);
  font-size: 28px;
  /* display: inline-block; */
  /* margin: 15px auto; */
  /* background-color: blue; */
  
}

/* Clase del logo de la pagina  */
.header__logo {
  width: 110px;
  /* position: absolute; */
  /* top: 8px; */
  /* background-color: #164E1B; */
}

/* Menu de navegcion nav */
nav {
  background-color: var(--Secondary_color);
  height: 8vh;
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Icono de menu hamburguesa que no aparece en la pagina normal */
.menu-icono {
  display: none;
}

/* Clase de los botones de navegacion que se encuentran dentro del nav */
.button__navigation {
  width: 17.5vw;
  height: 5vh;
  /* margin: 10px auto; */
  /* padding: 2px; */
  /* display: inline-block; */
  font-size: 14px;
  font-weight: bold;
  background-color: var(--Room_color);
  color: var(--Tertiary_color);
  border: none;
  transition: 0.2s;
}

/* Clase principal del contenedor principal */
.section {
  background-color: var(--Tertiary_color);
  text-align: center;
  display: inline-block;
}

/* Clase que le da estilos al titulo de la clase section */
.section__recomendaciones {
  font-family: var(--fountain);
  font-size: 30px;
  margin: 10px;
}

.section__general{
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.section_imagen_individual{
  /* background-color: #000000; */
  display: flex;
  align-items: center;
}
/* Clase que le da estilos a todas las cajas que se encuentran dentro de la clase section */
.section__card {
  /* display: inline-block; */
  width: 18vw;
  height: 50vh;
  background-color: var(--Primary_color);
  /* padding: 4px; */
  /* margin: 12px 18px; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Clase que le da estilos a todos los titulos que se encuentran dentro de las card */
.section__title {
  margin-top: 8px;
  font-family: var(--fountain);
  font-size: 18px;
}

/* Clase que le da estilos a todos las imagenes que se encuentran dentro de las card */
.section__img {
  display: inline-block;
  width: 10vw;
  height: 20vh;
  margin: 5px auto;
}

/* Clase que le da estilos a todos los textos descriptivos que se encuentran dentro de las card */
.section__text {
  font-family: var(--fountain);
  font-size: 16px;
}

/* Clase que le da estilos a todos los botones que se encuentran dentro de las card */
.section__button {
  width: 80px;
  height: 30px;
  /* margin: 20px auto; */
  /* display: inline-block; */
  background-color: var(--Tertiary_color);
  color: black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: var(--fountain);
  font-weight: bold;
  transition: 0.5s;
}

/* Clase que le da estilos al carrrito de compras de la pagina */
.section__carrito {
  width: 30px;
  height: 30px;
  /* position: absolute; */
  /* top: 250px; */
  /* left: 40px; */
  
}
.carrito{
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-start;
  order: -1;
  
}
/* Pseudoclase que cambia el color de los botones de section  */
.section__button:hover {
  background-color: var(--Room_color);
  color: var(--Secondary_color);
}

/* Pseudoclase que cambia el color de los botones del menu de navegacion */
.button--primary:hover {
  background-color: var(--Secondary_color);
  border: 1px solid var(--Room_color);
  color: var(--Room_color);
}

/* Clase que le da estilos al pie de la pagina */
.footer {
  height: 60px;
  background-color: var(--Room_color);
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  
}
.footer__redes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* Clase que le da estilos al texto descriptivo del pie de la pagina */
.footer__description {
  font-family: var(--fountain);
  font-size: 15px;
  font-weight: bold;
  color: var(--Tertiary_color);
  /* display: inline-block; */
}

/* Clase que le da estilos a las imagenes dentro del pie de pagina  */
.footer__img {
  width: 30px;
  /* margin: 10px auto; */
}

/* Media queri para pantallas pequeñas  */
@media (max-width:1024px) {
  .header__perfil {
    width: 30px;
  }

  .button__navigation {
    width: 15vw;
  }

  .section__recomendaciones {
    font-size: 18PX;
  }

  .section__title {
    font-size: 20px;
  }

  .section__img {
    width: 10vw;
    height: 15vh;
  }

  .section__text {
    font-size: 11px;
  }

  .section__button {
    width: 90px;
    height: 30px;
    font-size: 13px;
  }


  .section__button {
    font-size: 13px;
  }

}

/* Media queri para tablets */
@media (max-width: 992px) {
  .section_imagen_individual{
    display: flex;
    align-items: flex-start;
  }

  .header__titulo {
    font-size: 20px;
  }

  .header__logo {
    width: 90px;
  }

  .button__navigation {
    width: 18vw;
  }

  .section__card {
    width: 23vw;
  }

  .section__text {
    font-size: 12px;
  }

  .section__button {
    font-size: 14px;
  }
}

/* Media queri para dispositivos mobiles grandes  */
@media (max-width: 768px) {
  .header__titulo {
    font-size: 15px;
  }

  .header__logo {
    width: 70px;
  }

  nav {
    display: inline-block;
    width: 100%;
  }

  .button__navigation:nth-child(1),
  .button__navigation:nth-child(2),
  .button__navigation:nth-child(3),
  .button__navigation:nth-child(4),
  .button__navigation:nth-child(5) {
    display: none;
  }

  .menu-icono {
    font-size: 28px;
    color: black;
    cursor: pointer;
  }

  .section__card {
    width: 200px;
  }

  .section__img {
    width: 90px;
  }
  .section_imagen_individual{
    display: flex;
    align-items: flex-start;
  }

}

@media (max-width: 480px){
  .header__titulo{
    text-align: center;
  }
  .section__general{
    height: 1600px;
  }
  .section__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}